form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  background: #cccccc;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
}

legend {
  font-weight: bold;
}
