<form [formGroup]="movieForm" (ngSubmit)="submitForm()">
  <div>
    <label>Название фильма:</label>
    <input formControlName="name"/>
  </div>

  <div formGroupName="coordinates">
    <label>Координаты:</label>
    <input formControlName="x" placeholder="X" type="number"/>
    <input formControlName="y" placeholder="Y" type="number"/>
  </div>


  <div>
    <label>Количество Оскаров:</label>
    <input formControlName="oscarsCount" type="number"/>
  </div>

  <div>
    <label>Бюджет:</label>
    <input formControlName="budget" type="number"/>
  </div>

  <div>
    <label>Общий доход:</label>
    <input formControlName="totalBoxOffice" type="number"/>
  </div>

  <div>
    <label>MPAA рейтинг:</label>
    <select formControlName="mpaaRating">
      <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
    </select>
  </div>

  <div>
    <label>Жанр:</label>
    <select formControlName="genre">
      <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>
  </div>

  <fieldset>
    <legend>Режиссёр</legend>
    <div>
      <label>Выбрать ID существующего:</label>
      <select formControlName="directorId">
        <option value="">Не выбрано</option>
        <option *ngFor="let person of existingPersons" [value]="person.id">{{ person.id }}: {{ person.name }}</option>
      </select>
    </div>

    <div>
      <label>Или создать нового:</label>
      <div formGroupName="newDirector">
        <div>
          <label>Имя:</label>
          <input formControlName="name"/>
        </div>
        <div>
          <label>Цвет глаз:</label>
          <input formControlName="eyeColor"/>
        </div>
        <div>
          <label>Цвет волос:</label>
          <input formControlName="hairColor"/>
        </div>
        <div>
          <label>Вес:</label>
          <input formControlName="weight" type="number"/>
        </div>
        <div formGroupName="location">
          <label>Локация:</label>
          <input formControlName="name" placeholder="Название"/>
          <input formControlName="x" placeholder="X" type="number"/>
          <input formControlName="y" placeholder="Y" type="number"/>
        </div>
        <div>
          <label>Национальность:</label>
          <input formControlName="nationality"/>
        </div>
      </div>
    </div>
  </fieldset>

  <div>
    <label>Сценарист (ID):</label>
    <select formControlName="screenwriterId">
      <option value="">Не выбрано</option>
      <option *ngFor="let person of existingPersons" [value]="person.id">{{ person.id }}: {{ person.name }}</option>
    </select>
  </div>

  <div>
    <label>Оператор (ID):</label>
    <select formControlName="operatorId">
      <option value="">Не выбрано</option>
      <option *ngFor="let person of existingPersons" [value]="person.id">{{ person.id }}: {{ person.name }}</option>
    </select>
  </div>

  <div>
    <label>Длина:</label>
    <input formControlName="length" type="number"/>
  </div>

  <div>
    <label>Количество Золотых Пальм:</label>
    <input formControlName="goldenPalmCount" type="number"/>
  </div>

  <button type="submit">Создать фильм</button>
</form>
